body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #e6bb57;
    color: white;
   
}
.grid-item{
    width: 300px;
    height: auto;
    border-radius: 25px;
}

.logo img {
    width: 200px;
    filter: drop-shadow( 12px 8px 12px rgb(243, 56, 56) );
    transition: color 0.3s;
   }
   .logo img:hover{
    transform: scale(1.1);
    color: white;
   }

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ff6347;
}

section {
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.grid-item img {
    width: 80%;
    height: auto;
    transition: transform 0.3s;
    

}

.grid-item img:hover {
    transform: scale(1.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #ff6347;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}